*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input,
button,
textarea {
	font-family: inherit;
}
button {
	cursor: pointer;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
body {
	background: #111428;
	color: #ffffff;
	font-family: "Gilroy";
}
.text_h1 {
	position: absolute;
	width: 86px;
	height: 46px;
	left: 917px;
	top: 163px;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: #ffffff;
}

.input1 {
	position: absolute;
	width: 346px;
	height: 30px;
	left: 768px;
	top: 250px;
	background: #ffffff;
	border-radius: 5px;
	position: absolute;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #777777;
	padding: 13px 20px;
}

.input2 {
	position: absolute;
	width: 346px;
	height: 30px;
	left: 768px;
	top: 330px;
	background: #ffffff;
	border-radius: 5px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #777777;
	padding: 13px 20px;
}

.checkbox__input {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 768px;
	top: 412px;
	background: #ffffff;
	border-radius: 5px;
}
.checkbox__label {
	position: absolute;
	width: 137px;
	height: 21px;
	left: 798px;
	top: 410px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}
.text {
	position: absolute;
	width: 141px;
	height: 21px;
	left: 1011px;
	top: 410px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #64b369;
}
.text_0 {
	position: absolute;
	width: 137px;
	height: 21px;
	left: 905px;
	top: 541px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}
.img1 {
	position: absolute;
	left: 870px;
	top: 590px;
}
.img2 {
	position: absolute;
	left: 940px;
	top: 582px;
}
.img3 {
	position: absolute;
	left: 1010px;
	top: 582px;
}
.form__button1 {
	position: absolute;
	width: 384px;
	height: 55px;
	left: 768px;
	top: 461px;
	background: #337ab7;
	border-radius: 5px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #ffffff;
}
.text_2 {
	position: absolute;
	width: 171px;
	height: 21px;
	left: 815px;
	top: 652px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}

.text_3 {
	position: absolute;
	width: 109px;
	height: 21px;
	left: 996px;
	top: 652px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #64b369;
}
.line1 {
	position: absolute;
	width: 1216px;
	height: 1px;
	left: 352px;
	top: 734px;
	background: #ffffff;
	transform: matrix(1, 0, 0, -1, 0, 0);
}
.text_h2 {
	position: absolute;
	width: 486px;
	height: 46px;
	left: 740px;
	top: 897px;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	line-height: 46px;
	color: #ffffff;
}
.text_4 {
	position: absolute;
	width: 385px;
	height: 19px;
	left: 768px;
	top: 953px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	color: #64b369;
}

.input4 {
	position: absolute;
	width: 346px;
	height: 38px;
	left: 770px;
	top: 1004px;
	background: #ffffff;
	border-radius: 5px;
	padding: 13px 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
.form__label {
	display: block;
	position: absolute;
	width: 59px;
	height: 21px;
	left: 788px;
	top: 1026px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #777777;
}

.form__recovery {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
	position: absolute;
	left: 802px;
	top: 1093px;
	width: 246px;
	height: 19px;
}

.form__recovery::before {
	content: "";
	position: absolute;
	top: 0;
	left: -34px;
	width: 20px;
	height: 20px;
	background: url("../img/arrow-left.png") 0 0 no-repeat;
}

.form__button2 {
	position: absolute;
	width: 384px;
	height: 55px;
	left: 768px;
	top: 1143px;
	background: #337ab7;
	border-radius: 5px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #ffffff;
}
.text_5 {
	position: absolute;
	width: 311px;
	height: 38px;
	left: 768px;
	top: 1215px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #aeaeae;
}

.text_6 {
	position: absolute;
	width: 171px;
	height: 21px;
	left: 815px;
	top: 1283px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}

.text_7 {
	position: absolute;
	width: 109px;
	height: 21px;
	left: 996px;
	top: 1283px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #64b369;
}
.line2 {
	position: absolute;
	width: 1216px;
	height: 1px;
	left: 352px;
	top: 1371px;
	background: #ffffff;
	transform: matrix(1, 0, 0, -1, 0, 0);
}
.text_h3 {
	position: absolute;
	width: 231px;
	height: 46px;
	left: 844px;
	top: 1534px;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	line-height: 46px;
	color: #ffffff;
}
.input5 {
	position: absolute;
	width: 346px;
	height: 21px;
	left: 768px;
	top: 1621px;
	background: #ffffff;
	border-radius: 5px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #777777;
	padding: 13px 20px;
}
.input6 {
	position: absolute;
	width: 346px;
	height: 21px;
	left: 768px;
	top: 1701px;
	background: #ffffff;
	border-radius: 5px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #777777;
	padding: 13px 20px;
}
.input7 {
	position: absolute;
	width: 346px;
	height: 21px;
	left: 768px;
	top: 1781px;
	background: #ffffff;
	border-radius: 5px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #777777;
	padding: 13px 20px;
}
.input8 {
	position: absolute;
	width: 346px;
	height: 21px;
	left: 768px;
	top: 1861px;
	background: #ffffff;
	border-radius: 5px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #777777;
	padding: 13px 20px;
}
.input9 {
	position: absolute;
	width: 346px;
	height: 21px;
	left: 768px;
	top: 1941px;
	background: #ffffff;
	border-radius: 5px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #777777;
	padding: 13px 20px;
}
.input10 {
	position: absolute;
	width: 346px;
	height: 21px;
	left: 768px;
	top: 2021px;
	background: #ffffff;
	border-radius: 5px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #777777;
	padding: 13px 20px;
}
.option__input11 {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 770px;
	top: 2095px;
	background: #ffffff;
	border-radius: 5px;
}
.option__label11 {
	position: absolute;
	width: 78px;
	height: 21px;
	left: 798px;
	top: 2095px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}
.option__input12 {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 926px;
	top: 2095px;
	background: #ffffff;
	border-radius: 5px;
}
.option__label12 {
	position: absolute;
	width: 83px;
	height: 21px;
	left: 956px;
	top: 2095px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}
.checkbox__input13 {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 765px;
	top: 2139px;
	background: #ffffff;
	border-radius: 5px;
}
.checkbox__label13 {
	position: absolute;
	width: 109px;
	height: 21px;
	left: 798px;
	top: 2145px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}
.text11 {
	position: absolute;
	width: 161px;
	height: 21px;
	left: 917px;
	top: 2145px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #64b369;
}
.form__button3 {
	position: absolute;
	width: 384px;
	height: 50px;
	left: 768px;
	top: 2192px;
	background: #337ab7;
	border-radius: 5px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #ffffff;
}
.text12 {
	position: absolute;
	width: 171px;
	height: 21px;
	left: 845px;
	top: 2272px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}
.form__input15 {
	position: absolute;
	width: 161px;
	height: 21px;
	left: 1024px;
	top: 2272px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #64b369;
}
.line3 {
	position: absolute;
	width: 1216px;
	height: 1px;
	left: 352px;
	top: 2354px;
	background: #ffffff;
	transform: matrix(1, 0, 0, -1, 0, 0);
}
/* */
